  html,body {
    width: 100%;
    height: 100%; 
    margin: 0;
    overflow-x: hidden; 
  } 

  body {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    font-smooth: auto;
    font-synthesis: none;
    font-synthesis-weight: none;
    font-synthesis-style: none;
    font-synthesis-small-caps: none;
    font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
  }

  #lower_container {
    padding: 0px;
  }

  footer > hr, div:not(.accordion-body, footer > div, .dropdown) {
    margin-bottom: 12px;
  }

  footer > hr {
    border-top: 2px solid black;
    margin-inline: auto;
    width: 75%;
    opacity: 1;
  }

  #map {
    max-width: 95%;
  }

  #map, iframe {
    max-height: 500px;
    width: 75rem;
    margin: auto;
    border-radius: 15px;
    outline: 0.2rem solid black;
  }

  #map > div > div{ 
    padding: 0!important;
    height: 500px !important;
  }

  .dropdown {
    margin: 0;
  }
  
  .form-select {
    display: block!important;
    text-align: center!important;
  }

  .list-group-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-width: 1px;
    padding: 0.8em;
  }

  .item1 {
    border-top-left-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-right: none;
  }

  .item2 {
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
  }

  .list-group-item + .list-group-item {
    border-top-width: 1px;
  }

  .rounded-start {
    border-top-left-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
  }

  .btn{
    border: 0;
    transition: all 0.3s;
  }

  .non-included-btn:hover {
    color: black!important;
    background: lightgray!important;
  }
  
  .btn:not(.non-included-btn ):hover {
    color: black!important;
    background: lightgray!important;
    transform: translateY(-5%);
  }

  .reset-db-btn:hover {
    transform: translateY(-15%);
  }

  @media (min-width: 400px) {
    .list-group {
      flex-direction: row;
    }
  }

  @media (max-width: 400px) {
    .item1 {
      border: 1px solid lightgray!important;
      border-top-right-radius: 15px!important;
      border-bottom-right-radius: 15px!important;
    }
    .item2 {
      border: 0!important;
    }
  }
  
  @media (min-width: 992px) { 
      .col-md-4 {
        overflow: hidden;
      }

      .col-md-4 img{
        transition: all 1s;
      }
    
      .col-md-4:hover img {
          transform: scale(1.3);
        }
    
      .card {
          transition: all 1s;
      }
      
      .card:hover {
          transform: scale(1.2);
          z-index: 1;    
      }
   }

  #nie_znalezione {
    resize: none;
  }

  #noselect {
    user-select: none;
  }

  #badge {
    z-index: 1;
    top: 5%;
    right: 0%;
  } 

  .info-circle {
    font-size: 1.5em;
  }

  .db-quantity {
    color: black;
    font-size: 1.25rem;
    user-select: none;
  }

  .quantity_number {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .link {
    color: inherit;
    text-decoration: inherit;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
  }

  .link:hover {
    color: brown;
  } 

  