<!doctype html>
<html lang="pl">
  <head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>
  <body class="container-fluid">


<!-- Navbar start-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <center><h1 class="me-2"><a href="{% url 'index' %}" class="linkk">Shop Finder</a></h1></center>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schema-swagger-ui' %}" class="linkk">Api</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'AboutApp' %}" class="linkk">About App</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<!-- Navbar end -->


<div class="container-fluid">

<!-- Acordion start -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        About Shop Finder
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Shop Finder</strong> is an application that allows you to 
        search and display all the stores across Poland. 
        The application is based on data from <strong>https://www.promoceny.pl/sklepy/</strong>,
        which is collected using Web Scraping and kept in the database. 
        There is also a free API that sends the collected information about stores.
      </div>
    </div>
  </div>
</div>
<!-- Acordion end -->

</div>

<!-- Card menu start -->
<div class="row mt-4 mx-2 justify-content-center">

    <!-- Card start -->
    <div class="card mb-3 mx-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'images/image1.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Search by shop name</h5>
            <p class="card-text">
              Using the select menu, you can choose any store from the list. 
              Then the application will display all its addresses in the country. 
            </p>
            <p class="card-text"><small class="text-muted">Shop Finder v.1.0</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card end -->

    <!-- Card start -->
    <div class="card mb-3 mx-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'images/image2.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Search by city name</h5>
            <p class="card-text">
              Using the select menu, you can choose any city from the list. 
              Then the application will display all the shops in the city. 
            </p>
            <p class="card-text"><small class="text-muted">Shop Finder v.1.0</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card end -->

    <!-- Card start -->
    <div class="card mb-3 mx-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'images/image3.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Non included addresses</h5>
            <p class="card-text">
              Due to the use of an inaccurate geocoder, some addresses may not be processed into coordinates. 
              They will appear in the "Non-included" section.
            </p>
            <p class="card-text"><small class="text-muted">Shop Finder v.1.0</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card end -->

    <!-- Card start -->
    <div class="card mb-3 mx-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'images/image4.png' %}" class="img-fluid rounded-start align-middle" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Map properties</h5>
            <p class="card-text">
              Addresses are displayed by heatmap and markers. 
              We can choose between a view of all stores in the selected city 
              or a view of all shop addresses.
            </p>
            <p class="card-text"><small class="text-muted">Shop Finder v.1.0</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card end -->

    <!-- Card start -->
    <div class="card mb-3 mx-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'images/image5.png' %}" class="img-fluid rounded-start align-middle" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Reset database</h5>
            <p class="card-text">
              The Reset Database button deletes all data from the database and reloads it. 
              While loading the data, you can use the data loaded so far.
              The loading itself takes a long time.
            </p>
            <p class="card-text"><small class="text-muted">Shop Finder v.1.0</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card end -->

</div>
<!-- Card menu end -->

<!-- Footer start -->
<footer id="footer_about_app">
  <hr>
    <div class="text-center pb-3">
      © 2022 Shop Finder
    </div>
</footer>
<!-- Footer end -->

</body>
<html>