<!doctype html>
<html lang="pl">
<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shop Finder</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'dselect/dselect.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dselect/dselect.js' %}"></script> 

</head>

<body class="container-fluid">

    <!-- Navbar start-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <center><h1 class="me-2"><a href="{% url 'index' %}" class="link">Shop Finder</a></h1></center>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse my-auto" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">  
              <li class="nav-item">
                <a class="nav-link" href="{% url 'schema-swagger-ui' %}" class="link">Api</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'AboutApp' %}" class="link">About App</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar end -->


    <div class="lower container-fluid" id="lower_container">
        <div class="row mt-2">
            <div> 
                <div class="col-10 offset-1"> 

                  <div class="d-flex justify-content-center">
                    <h3>Map</h3> 
                  </div>
                  
                  <!-- Reset button start -->
                  <form method="post" class="d-flex justify-content-center">
                    {% csrf_token %}
                    <button type="submit" name="submit" class="btn btn-dark mb-4 mt-2" onclick="return confirm('Estimated time to fully load data:\naround 10 hours')" value="reset">Reset Database</button>
                  </form>
                  <!-- Reset button end -->

                    <div class="d-md-flex flex-row mb-2">

                        <!-- Container for columns start -->
                        <div class="d-flex justify-content-center container-fluid p-0">
                          
                          <form method="post">
                            {% csrf_token %}
                            <!-- Search by shop -->
                            <ul class="list-group list-group-vertical mt-0 mb-2 justify-content-center">
                                <li class="list-group-item item1">
                                    <select name="select_shop" class="mdb-select md-form" id="select_box">
                                        {% for key,value in dict_of_shops %}
                                        {% if key == select_value %}
                                        <option value={{ key }} selected> {{ value }}</option>
                                        {% else %}
                                        <option value={{ key }}> {{ value }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>

                                      {% if number_of_shops > 1 %}
                                        <span id="badge" class="position-absolute badge rounded-pill bg-danger">
                                          {{ number_of_shops }}
                                          <span class="visually-hidden">shops</span>
                                        </span>
                                      {% endif %}
                                </li>
                                <li class="list-group-item text-center item2">
                                    <button type="submit" name="submit" class="btn btn-dark">Search</button>
                                </li>


                            <!-- Search by city start-->
                            </ul>
                            <ul class="list-group list-group-vertical mt-3 mb-0 justify-content-center">
                              <li class="list-group-item item1">
                                  <select name="select_city" class="mdb-select md-form" id="select_box2">
                                    {% for city in list_of_cities %}
                                    {% if city == select_value_city %}
                                      <option value={{ city }} selected> {{ city }}</option>
                                    {% else %}
                                      <option value={{ city }}> {{ city }}</option>
                                    {% endif %}
                                    {% endfor %} 
                                  </select>
                                  {% if number_of_shops_in_city > 0 %}
                                      <span id="badge" class="position-absolute top-0 end-0  badge rounded-pill bg-danger">
                                        {{ number_of_shops_in_city }}
                                        <span class="visually-hidden">shops</span>
                                      </span>
                                  {% endif %}
                              </li>
                              <li class="list-group-item text-center item2">
                                  <button type="submit" name="submit" class="btn btn-dark ">Search</button>
                              </li>
                            </ul>
                            <!-- Search by city end -->

                            {% if unknown_to_html or empty_list %}

                            <!-- Modal button start -->
                            <ul class="list-group">
                              <li class="list-group-item border-0 mx-auto">
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#AddressesModal" role="button">View non-included                             
                                  <span id="badge" class="position-absolute badge rounded-pill bg-danger">
                                    {{ unknown_quantity }}
                                    <span class="visually-hidden">non_showed_shops</span>
                                  </span>
                                </button>
                              </li>
                            </ul>
                            <!-- Modal button end -->

                            {% endif %}
                          </form>
                        </div>
                        <!-- Container for columns end -->
                      

                      {% if unknown_to_html or empty_list %}
                            <!-- Non-included addresses start-->
                              {% if unknown_to_html %}
                              <!-- Modal for addresses start -->
                                  <div class="modal fade" id="AddressesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-start">
                                      <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                          <h5 class="modal-title" id="exampleModalLabel">Not covered addresses</h5>
                                        </div>
                                      <div class="modal-body justify-content-start">
                                        <h6>{% for shops in unknown_to_html %}-> {{ shops }}<br>{% endfor %}</h6>
                                        </div>
                                          <div class="modal-footer justify-content-center">  
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                              <!-- Modal for addresses end -->
                              {% endif %}
                            <!-- Non-included addresses end-->
                      {% endif %}

                    </div>  
                </div>    

                  <div id="map" class="col-sm-10 offset-sm-1">
                    {{m|safe}}
                  </div>
            </div>
        </div>
    </div>

<!-- Footer start -->
<footer>
  <hr>
  <div class="text-center">
    © 2022 Shop Finder
  </div>
</footer>
<!-- Footer end -->

</body>
</html>

<script>

  var select_box_element = document.querySelector('#select_box');
  var select_box_element2 = document.querySelector('#select_box2')

  dselect(select_box_element, {
      search: true,

      {% if select_value == "default" %}
      clearable: false,
      {% else %}
      clearable: true,
      {% endif %} 
  }); 
  
  dselect(select_box_element2, {
      search: true,

      {% if select_value_city == "Choose your shop" or select_value_city == "Choose" %}
      clearable: false,
      {% else %}
      clearable: true,
      {% endif %}
  });

</script>

